* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid red;
}

.container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: [shipyard] 80px [board] auto;
}

.shipyard {
  grid-area: shipyard;
  position: relative;
  height: ;
}

.board {
  grid-area: board;
  display: grid;
  grid-template-rows: [top-bar] 80px [side-bar grid];
}

.top-bar {
  grid-area: top-bar;
  height: 80px;
  width: 800px;
}

.side-bar {
  grid-area: side-bar;
  height: 100%;
  width: 80px;
}

.grid {
  grid-area: grid;
  height: 800px;
  width: 800px;
  position: relative;
}
