$ship-color: #49516f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  grid-area: header;

  h1 {
    font-size: 3rem;
  }
}

.container {
  padding: 2rem;
  grid-area: container;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "board message";

  .board {
    grid-area: board;
    display: grid;
    height: 550px;
    width: 550px;
    justify-self: center;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "top-bar top-bar" "side-bar grid";

    .top-bar {
      grid-area: top-bar;
      display: flex;
      flex-wrap: nowrap;

      div {
        width: 50px;
        text-align: center;
        font-size: 2rem;
      }
    }

    .side-bar {
      grid-area: side-bar;

      div {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 2rem;
      }
    }

    .grid {
      grid-area: grid;
      display: flex;
      flex-wrap: wrap;
      height: 500px;
      width: 500px;

      .cell {
        border: 1px solid gray;
        width: 50px;
        height: 50px;

        &.pl-one-ship {
          background: green;
        }
        &.pl-two-ship {
          background: blue;
        }
      }
    }
  }

  .message-board {
    grid-area: message;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgray;

    .message-text {
      background-color: rgba(0, 0, 0, 0.9);
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 3rem;
      padding: 0.25rem 0.5em;
      margin: 1rem;
      display: none;
      &.show {
        display: block;
      }
    }

    button {
      font-size: 3rem;
      background: white;
      border: 1px solid black;
      padding: 0.25em 0.5em;
      cursor: pointer;
      display: none;
      &.show {
        display: flex;
      }
    }

    button:hover {
      background: black;
      color: white;
      border: 1px solid white;
    }
  }
}
